include includes/headers.pug

.container 
    .row.row-cols-2
        .col
            a(href='/api/logout') Logout
    .row 
        .col   
            p.mt-4 Hello #{user.username} !
            if role == "admin" 
                each user, index in users
                    .col-3
                        .card
                            .card-body
                                .row
                                    .col.col-md-10
                                        p.card-title= user.username
                                    .col.col-md-2
                                        form(action=`/api/remove-user/${user._id}`, method="delete") 
                                            button.btn.btn-danger(type="submit") X 
