include includes/headers.pug

.container 
    .row.row-cols-2
        .col
            a(href='/api/logout') Logout
    .row 
        .col   
            p.mt-4 Hello #{user.username} !
            if role == "admin" 
                each user, index in users
                    .col-3
                        .card
                            .card-body
                                .row
                                    .col.col-md-10
                                        p.card-title= user.username
                                    .col.col-md-2
                                        button.btn.btn-danger(onclick="toDelete(" + JSON.stringify(user) + ")") X
                                        //-form(action=`/api/remove/${user._id}`, method="post") 
                                        //-button.btn.btn-danger(type="submit") X 

script. 
    async function toDelete(user){
    console.log('inside toDelete')

    console.log(user._id)
    await fetch(`http://localhost:4040/api/remove/${user._id}`, {
        method: 'delete'
        })
    }


